<main role="main" class="container">

    <div class="starter-template">
        <h1>Benvenuti! prenotatevi ora per un esperienza magnifica</h1>

        <div>
         <button (click)="onClickVaiAllaLogin()">Vai alla login </button>

            <p class="lead">DESCIRZIONE <br> All you get is this text and a mostly barebones HTML document.</p>

            <p> This is my page, e scrivo quello che voglio </p>
            <p> scrivo qualcosa per <strong>verica</strong> della pagina </p>
            <p> <strong> WEB </strong> </p>
            <p>clicca qui per prenotarti: <a href="/booking"> <strong>PRENOTAZIONE </strong></a> </p>

        </div>

        <p class="lead">DESCIRZIONE.<br> All you get is this text and a mostly barebones HTML document.</p>

    </div>

</main><!-- /.container -->


<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img [src]="'assets/images/makeup1.jpg'" class="d-block w-100" alt="ciao">
            </div>
            <div class="carousel-item">
                <img [src]="'assets/images/makeup2.jpg'" class="d-block w-100" alt="ciao">
            </div>
            <div class="carousel-item">
                <img [src]="'assets/images/makeup3.jpg'" class="d-block w-100" alt="ciao">
            </div>
            <div class="carousel-item">
                <img [src]="'assets/images/makeup4.jpg'" class="d-block w-100" alt="ciao">
            </div>
        </div>
    </div>
</div>


<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
</div>


<!--slides end-->

<p class="lead">DESCIRZIONE <br> All you get is this text and a mostly barebones HTML document.</p>

<p> This is my page, e scrivo quello che voglio </p>
<p> scrivo qualcosa per <strong>verica</strong> della pagina </p>
<p> <strong> WEB </strong> </p>
<p>clicca qui per prenotarti: <a href="/booking"> <strong>PRENOTAZIONE </strong></a> </p>


<p class="lead">DESCIRZIONE.<br> All you get is this text and a mostly barebones HTML document.</p>