<main role="main" class="container">

    <div class="starter-template">
        <h1>Benvenuti, prenotatevi ora per un esperienza magnifica</h1>
        <p class="lead">Momenti di gioia <br>Godetevi una esperienza che vi lascera il segno e non vedrete l'ora di
            ritornare .</p>
        <br>
        <br>


        <h2>Calendario</h2>
        <p class="lead">Prenotazione.<br> All you get is this text and a mostly barebones HTML document.</p>


        <div class="container">
            <!-- Content here -->

        </div>

    </div>

</main><!-- /.container -->