<!-- Insert Body here -->
<main role="main" class="container">

    <div class="container">
        <!-- Content here -->

        <div class="row">
            <div class="col">
                <img [src]="'http://www.althaeabellezza.it/images/logo@2x.jpg'" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Loggati per accedere alla tua pagina
            </div>
            <div class="col-6">
                <div class="login">
                    <form>
                        <div class="form-group">
                            <label for="email">Email Account</label>
                            <input [(ngModel)]="utente.email" name="email" type="email" class="form-control email" id="email" placeholder="Enter email valid">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input [(ngModel)]="utente.password" name="password" type="password" class="form-control password" id="password" placeholder="Password">
                        </div>
                        <button (click)="onClickAccedi()" type="button" class="btn btn-primary">Accedi</button>

                        <article class="card-body mx-auto" style="max-width: 400px;">
                            <p class="divider-text">
                                <span class="bg-light">OPPURE</span>
                            </p>
                        </article>
                    </form>
                </div>
                <div>
                    <p>oppure se non sei registrato clicca qui : </p>
                    <p style="text-align: center;"> <button routerLink = "/signup" type="button" class="btn btn-primary">Sign up</button></p>
                </div>

                <h4 class="card-title mt-3 text-center">Accedi direttamente con </h4>
                <p>
                    <button onclick="googleLogin()" class="btn btn-block btn-google"> <i class="fab fa-google"></i>
                        Google</button>
                    <button onclick="twitterLogin()" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>
                        Twitter</button>
                    <button onclick="facebookLogin()" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i> facebook</button>
                </p>



            </div>
            <div class="col-sm">


            </div>
        </div>
    </div>



</main><!-- /.container -->